h1 {color: rgb(136, 223, 238)}
h2 {color: rgb(246, 243, 248)}
h3 {color: rgb(245, 245, 245);}

body {
    background-image:url(https://i.imgur.com/rgaKQ5d.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1890px 1030px;
}
h1:hover {
    color: rgb(113, 7, 139);
}
#div1{
    background-color: black;
    color: rgb(0, 0, 0);
    padding: 15px;
}
#div2{
    background-color: rgb(0, 0, 0);
    color: black;
    padding: 15px;
}   

.myContainer {
    background-color: #777777;
    margin: 1em 2em;
    border: 5px solid rgb(4, 225, 233);
    padding: 5px;
}
@media screen and (min-width: 800px) {
 .myContainer {
    background-color: #555555;
    border: 8px dotted rgb(67, 132, 218);
    padding: 10px 5px;
}   
h1:hover {
    color: rgb(0, 195, 255);
}
h2,h3 {
    text-align: left;
}
}
@media screen and (min-width: 800px;){
    .myContainer{
        background-color: #555555;
        border: 8px dotted rgb(233230 4);
        padding: 10px 5px;
    }
    h1:hover{
        color: rgb(103, 0, 151);
    }
    h2 h3{
        text-align: left;
    }
    }
