h1 {color: green}
h2 {color: yellow}
h3 {color: white;}

body {
    background-image:url(https://i.imgur.com/vCcKy68.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1890px 1030px;
}
h1:hover {
    color: red;
}
#div1{
    background-color: black;
    color: white;
    padding: 15px;
}
#div2{
    background-color: white;
    color: black;
    padding: 15px;
}   

.container {
    background-color: #777777;
    margin: 1em 2em;
    border: 5px solid rgb(233, 230, 4);
    padding: 5px;
}
@media screen and (min-width: 800px) {
 .container {
    background-color: #555555;
    border: 8px dotted rgb(233, 230, 4);
    padding: 10px 5px;
}   
h1:hover {
    color: yellow;
}
h2,h3 {
    text-align: left;
}
}
@media screen and (min-width: 800px;){
    .container{
        background-color: #555555;
        border: 8px dotted rgb(233230 4);
        padding: 10px 5px;
    }
    h1:hover{
        color: yellow;
    }
    h2 h3{
        text-align: left;
    }
    }
